MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=desafio_hostinger

MYSQL_URL_CONNECTION_API=mysql+aiomysql://root:change_me@localhost:3306/desafio_hostinger
MYSQL_URL_CONNECTION_MIGRATIONS=mysql+pymysql://root:change_me@localhost:3306/desafio_hostinger
